
<html>
<head>
    <title>FruitStore - La mejor fruteria de la Web</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <nav>
        <a href="~/">Principal</a>

        <a href="~/Home/Productos">Frutas</a>
        <a href="~/Home/Productos">Frutas</a>
        <a href="~/Home/Productos">Frutas</a>
        <a href="~/Home/Productos">Frutas</a>
        <a href="~/Home/Productos">Frutas</a>
    </nav>
    <main>
        @RenderBody()
    </main>
</body>
</html>
