
@model FruitStore.Areas.Administrador.Models.AdminCategoriaViewModel
@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Administrar Categorias</h1>

<section class="lista">
    <ul>
        <li><a href="~/Administrador/Categorias/Agregar"><img src="~/images/add.png" /> Nueva categoria</a></li>
        @foreach (var c in Model.Categorias)
        {
        <li>
            @c.Nombre
            <a href="~/Administrador/Categorias/Editar" class="btnEditar"></a>
            <a href="~/Administrador/Categorias/Editar" class="btnBorrar"></a>
        </li>
            
        }
    </ul>

</section>

