@model FruitStore.Models.ViewModels.LoginViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>FruitStore - La mejor fruteria de la Web</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <header></header>
    <main>

        <form methos="post" action="~/Home/Login">
            <div>
                <h1>Iniciar sesión</h1>

                <label>Correo:</label>
                <input type="text" required="required" asp-for="Correo" />
                <label>Contraseña:</label>
                <input type="password" required="required" asp-for="Contraseña" />

                <div class="botones">
                    <p id="error"> @Html.ValidationSummary(true) </p>
                    <input type="submit" value="Iniciar sesión" />

                </div>
            </div>
        </form>

    </main>
</body>
</html>

@* <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/styles.css">
</head>
<body>
    <form>
        <div>
            <h1>Iniciar sesión</h1>

            <label>Correo electrónico:</label>
            <input type="text"  required="required" />
            <label>Contraseña:</label>
            <input type="password"  required="required" />

            <div class="botones">
                <p id="error"></p>
                <input type="submit" value="Iniciar sesión"/>
               
            </div>
        </div>
    </form>
</body>
</html> *@
