@{
    Layout = "_Layout";
}

<h1 id="nombreCategoria">Frutas</h1>


<div class="productos">
    
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
        <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>        <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>        <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>        <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>        <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
    <a href="~/Home/Ver">
        <div>
            <img src="/img_frutas/8.jpg">
        </div>
        <h2>Uva roja</h2>
        <h3>$87.00</h3>
    </a>
</div>



