@{
    Layout = "_Layout";
}

<div class="datosproductos">
    <h1 id="nombre">Uva roja</h1>

    <img src="~/img_frutas/8.jpg" id="imagen" />
    <p>
        <label>Precio:</label>
        <label id="precio">$87.00</label>
    </p>
    <p>
        <label>Categoria:</label>
        <label id="categoria">Frutas</label>
    </p>
    <p>
        <label>Unidad de Medida:</label>
        <label id="unidadmedida">Kilo</label>
    </p>
    <p>
        <label>Descripción:</label>
        <label id="descripcion">Alta en vitaminas C, K y B6&#xD;&#xA;Puede ayudar a prevenir el c&#xE1;ncer, lesiones arteriales y neurol&#xF3;gicas</label>
    </p>

    <p style="text-align:center; margin:20px 0">
        <a href="javascript:window.history.back()">Regresar</a>
    </p>

</div>

